language: node_js
cache: yarn

git:
  depth: 1

node_js:
  - "node"
  - "7.7.0"

matrix:
  include:
    script: npm pack
    after_success:
      - npm install -g @zeus-ci/cli
      - zeus upload -t "application/tar+npm" *.tgz

notifications:
  webhooks:
    urls:
      - https://zeus.ci/hooks/b7a66dd4-d11d-11e7-ae66-0a580a280646/public/provider/travis/webhook
    on_success: always
    on_failure: always
    on_start: always
    on_cancel: always
    on_error: always
